p {
  color: blue;
}
.special{
  background-color: palegreen
}

.social{
  display:inline-block;
}

.social:hover li{
  display:block;
}
.social li{
  display:none;
}
.social{
  display:inline;
}
body {
  background-color: #cccccc
}
